<app-header></app-header>
<div style="text-align:center">
  <h1>
    Welcome to Mohy's an Angular CLI app build with Nrwl Nx!
  </h1>
  <img width="300" src="assets/nx-logo.png">
</div>

<h2>Nx</h2>

An open source toolkit for enterprise Angular applications.

Nx is designed to help you create and build enterprise grade Angular applications. It provides an opinionated approach to application project structure and patterns.

<h2>Quick Start & Documentation</h2>

<a href="https://nrwl.io/nx">Watch a 5-minute video on how to get started with Nx.</a>
<app-ws-component [config] = "config"></app-ws-component>

<div style="text-align:center">
  <h1>
    Welcome to Mohy's an Angular CLI app build with Nrwl Nx!
  </h1>
  <img width="300" src="assets/nx-logo.png">
</div>

<h2>Nx</h2>

An open source toolkit for enterprise Angular applications.

Nx is designed to help you create and build enterprise grade Angular applications. It provides an opinionated approach to application project structure and patterns.

<h2>Quick Start & Documentation</h2>


<!-- <mat-card class="card-demo">
      <mat-card-title>Responsive Layout Directions</mat-card-title>
      <mat-card-subtitle>Layout direction changes to 'column' for 'xs' or 'sm' viewport sizes:
      </mat-card-subtitle>
      <mat-card-content>
        <div class="containerX">
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex
               class="coloredContainerX box">
            <div fxFlex> I'm above on mobile, and to the left on larger devices.</div>
            <div fxFlex> I'm below on mobile, and to the right on larger devices.</div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex
               class="coloredContainerX box">
            <div fxFlex> I'm above on mobile, and to the left on larger devices.</div>
            <div fxFlex> I'm below on mobile, and to the right on larger devices.</div>
          </div>
        </div>
      </mat-card-content>
    </mat-card> -->


        <div class="containerX">
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex fxLayoutGap="5px"
               class="coloredContainerX box">
            <div fxFlex> I'm above on mobile, and to the left on larger devices.1</div>
            <div fxFlex> I'm below on mobile, and to the right on larger devices. 2</div>
          </div>
        </div>

        <div fxLayout="column" class="containerX" id='parent'>
            <div fxLayout="row" class="coloredContainerX box"  
                fxLayout.xs="column" fxLayout.sm="column" id ='child1'>
                <div fxFlex>Test 1</div>
                <div fxFlex>Test 2</div>
            </div>
             <div fxLayout="row" class="coloredContainerX box"  id ='child2'
                 fxLayout.xs="column" fxLayout.sm="column" >
                <div fxFlex >Test 3</div>
                <div fxFlex>Test 4</div>
            </div>
        </div>